header {
  height: 75px;
  display: flex;
  padding-inline: 16px;
  padding-block: 8px;
  background-color: white;
  box-shadow: 12px 12px 24px rgba(0,0,0,0.1);
  color: black;
  align-items: center;
  justify-content: space-between;
}
