.product-grid {
  min-width: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  padding: 10px;
  max-width: 1400px;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
