<div class="product-grid">
  <div class="product-card">
    <div class="image-container">
      <img [src]="product.image" [alt]="product.name" class="main-image">
    </div>
      <a
        [href]="product.link"
        target="_blank"
        rel="noopener noreferrer"
        class="product-title"
        [title]="product.name">
        {{ product.name }}
      </a>
    <p class="product-description">{{ product.description }}</p>

    <div class="rating-row">
      <span class="stars">
        <span *ngFor="let s of [1,2,3,4,5]" [style.color]="s <= product.rating ? '#fbc02d' : '#ccc'">★</span>
      </span>
      <span>{{ product.rating }}</span>
    </div>

    <div class="price">{{ product.price }} ₸</div>

    <div class="share-actions">
      <button class="btn-share whatsapp" (click)="share(product.link, 'whatsapp', product.name)">
        Share on WhatsApp
      </button>
      <button class="btn-share telegram" (click)="share(product.link, 'telegram', product.name)">
        Share on Telegram
      </button>
    </div>
  </div>
</div>
