:root {
    --radius-xs: 6px;
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
    --radius-xl: 20px;
    --radius-2xl: 24px;
    --radius-3xl: 28px;
    --text-xs: 0.75rem;   /* 12px */
    --text-sm: 0.875rem;  /* 14px */
    --text-md: 1rem;      /* 16px */
    --text-lg: 1.125rem;  /* 18px */
    --text-xl: 1.25rem;   /* 20px */
    --text-2xl: 1.5rem;   /* 24px */
    --text-3xl: 1.875rem; /* 30px */
    --text-4xl: 2.25rem;  /* 36px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--text-md);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    align-items: center; 
}

/* --- Header --- */
.site-header {
    /* justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; */


    width: 100%;
    height: 40px;
    border: 3px solid black;
    display: flex;
    align-items: center; 
    margin-bottom: 40px; 
    position: relative;
}

.btn-settings {
    /* background: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    padding: 8px;
    border-radius: var(--radius-md); */


    font-size: var(--text-xs);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-xs);
}

.main-nav {
    font-size: var(--text-xs);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    width: 700px;
    height: 30px;
    border: 2px solid black;
    border-radius: var(--radius-md);
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 10px;
}

/* --- Central Content --- */
.content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 1; 
}

.card {
    width: 700px; 
    height: 400px;
    border: 3px solid rgb(54, 51, 51);
    border-radius: var(--radius-2xl);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.card-header {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 10px;
    border-radius: var(--radius-sm);
}

.event-adder {
    font-size: var(--text-sm);
    padding: 0 10px;
    border: 2px solid black;
    border-radius: var(--radius-md);
    
}

.card-body {
    flex-grow: 1; 
    border-radius: var(--radius-sm);
    padding: 0 30px;
}

/* --- Footer --- */
.site-footer {
    padding: 40px 0;
}

.action-btn {
    width: 150px;
    height: 50px;
    border: 3px solid black;
    border-radius: var(--radius-lg);
    background: white;
    font-weight: bold;
    cursor: pointer;
}